@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(62, 100, 255, 0.4) 0%,
    rgba(29, 211, 189, 0.4) 100%
  );
}

::-webkit-scrollbar-thumb {
  background: transparent; /* opacity: 0; should do the thing either */
  box-shadow: 0px 0px 0px 100000vh white;
}
